<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Monochrome</title>
</head>

<body class="homepage">
  <header class="header">
    <%= require('html-loader!./html/header.html')%>
  </header>

  <main class="main">
    <header class="banner-main d-md-none">
      <%= require('html-loader!./html/homepage/banner-main.html')%>
    </header>

    <main class="content-main">
      <section class="catalog-preview container">
        <%= require('html-loader!./html/homepage/catalog-preview-01.html')%>
      </section>

      <section class="catalog-preview container">
        <%= require('html-loader!./html/homepage/catalog-preview-02.html')%>
      </section>

      <section class="home-marketing container">
        <%= require('html-loader!./html/homepage/home-marketing.html')%>
      </section>
      <section class="catalog-preview container">
        <%= require('html-loader!./html/homepage/catalog-preview-03.html')%>
      </section>

      <section class="catalog-preview container">
        <%= require('html-loader!./html/homepage/catalog-preview-04.html')%>
      </section>

    </main>
  </main>

  <footer class="footer">
    <div class="footer-container container-md">
      <%= require('html-loader!./html/footer.html')%>
    </div>
  </footer>
</body>

</html>
